[Unit]
Description=DocWorker Web Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/docworker
Environment="PATH=/home/ubuntu/.local/bin:/bin:/usr/bin"
ExecStart=bash -c ". venv/bin/activate;python3 -m waitress --url-prefix=docworker --port 8082 --call docworker.analysis_app:create_app"


[Install]
WantedBy=multi-user.target
