{% extends "base.html" %}
{% block body%}
  
  <h1>Process Document</h1>
  <p>
    The Process Document page runs a GPT function separately on each
    individual text block  of the of the document to produce intermediate
    results and then further process the intermediate results until
    a single final result is produced.
  </p>
  <p>
    Prompts drive the results of the GPT operation. For example,
    you may want to create a summary of each block or extract the main
    ideas from each block. This is done by giving  instructions
    to the GPT AI model in the form of a <i>prompt</i> and a block of text.
    Example of prompts include:
    <ul>
      <li>
	Explain the concepts in the text
      </li>
      <li>
	Summarize the text
      </li>
    </ul>
    Enter your own prompt or use a pre-defined prompt from the pull
    down menu. Note that this can take several minutes depending on the
    size of the document. The page will update as the individual results
    are generated.
  </p>
  <hr>

  <p>Enter a prompt to run GPT operations.</p>
  <div style="margin-bottom:1em;">
    <form action="{{ url_for('analysis.docgen')}}" method="post" id="form">
      <label for="prompt_menu" style="vertical-align:top;">Prompt:</label>
      <select name="prompt_manu" id="prompt_menu"
	      style="vertical-align:top;"
	      onchange="prompt_change()">
	<option value=""></option>
	{% for prompt in session.get_prompt_set() %}
	<option value="{{ prompt[2] }}">{{ prompt[1] }}</option>
	{% endfor %}
      </select>
      <textarea id="prompt" name="prompt" rows="3" cols="70"></textarea>
      <input type="hidden" id="doc" name="doc" value="{{ doc }}"/>
      <input id="go_button" type="submit" value="Run Prompt"
	     style="vertical-align:top;"/>
    </form>
  </div>

  
  <h2>Source Text:</h2>
  <div style="border-width:1px;border-style:solid;border-color:grey;">
    <table style="border-spacing:5px">            
      {% for item in session.doc_segments %}
      <tr id="{{ item.name() }}">
	<td style="vertical-align:top;">
	    {{ item.name() }}
	</td>

	<td style="background:{{ session.item_color(item) }};padding:2px;">
	  {{ session.snippet_text(item.text()) | e }}
	</td>
	<td style="vertical-align: top;">	  
	  ({{ item.token_count() }})
	</td>
      </tr>
      {% endfor %}
      
    </table>
  </div>
  {% endblock %}
  {% block script %}
  function prompt_change() {
      var menu = document.getElementById('prompt_menu');
      var text = document.getElementById('prompt');
      var val = menu.options[menu.selectedIndex].value;
      text.value = val;
  }
  {% endblock %}
