{% extends "base.html" %}
{% block body%}
  <h1>Process Text</h1>
  <p>
    The Process Text page runs a single GPT operation on one or
    more text blocks. This can be used to focus on specific sections
    of a document, or further processing of generated content.
  </p>
  <p>
    You can use controls to reorder and remove items from the content that
    will be included in the GPT processing. The
    order of the content given to the GPT AI model may influence the
    result.
  </p>
  <p>
    Enter your own prompt or use a pre-defined prompt from the pull
    down menu.     
  </p>

  <hr>
  <p>Enter a prompt for a GPT operation.</p>  
  <div style="margin-bottom:1em;">
    <form action="{{ url_for('analysis.generate')}}" method="post" id="form">
      <label for="prompt_menu" style="vertical-align:top;">Prompt:</label>
      <select name="prompt_manu" id="prompt_menu"
	      style="vertical-align:top;" onchange="prompt_change()">
	<option value=""></option>	
	{% for prompt in session.get_prompt_set() %}
	<option value="{{ prompt[2] }}">{{ prompt[1] }}</option>
	{% endfor %}
      </select>
      <textarea id="prompt" name="prompt" rows="3" cols="70"></textarea>      
      <input type="hidden" id="doc" name="doc" value="{{ doc }}"/>
      {% for item in items_state.selected_items %}
      <input type="hidden" id="items" name="items"
	     value="{{ item.name() }}">
      {% endfor %}
      <input id="go_button" type="submit" value="Run Prompt"
	     style="vertical-align:top;"/>
    </form>
    {% if not items_state.selected() %}
    <p align="center" style="color:red;">
      No content selected for a GTP operation.
    </p>
    {% endif %}
    <p><form action="{{ url_for('analysis.sel_gen') }}" method="get">
	<input type="submit" value="Select Items">
	<input type="hidden" id="doc" name="doc" value="{{ doc }}"/>    
	{% for item in items_state.selected_items %}
	<input type="hidden" id="items" name="items"
	       value="{{ item.name() }}">
	{% endfor %}
    </form></p>
    <p></p>
  </div>

  <h2>Source Text:</h2>
  <div style="border-width:1px;border-style:solid;border-color:grey;">
    {% if not items_state.selected() %}
    <p>No text segments selected.</p>
    {% endif %}
    
    <table>
      {% for item in items_state.selected_items %}
      <tr id="{{ items_state.sel_id(item) }}">
	<td>
	  <p style="line-height:1;margin-bottom:1px;">
	    {% if item.is_doc_segment() %}
	    Section
	    {% endif %}
	    {{ item.name() }}:
	    {% if not item.is_doc_segment() %}
	    [
	    {{ item.prompt(session) }}
	    ]
	    {% endif %}
	  </p>
	</td>
      </tr>
      <tr>
	<td>
	  <pre style="line-height:1.5;background:{{ session.item_color(item) }};white-space:pre-wrap;overflow-x:auto;padding:1em;margin:0;font-family:PT Mono;">{{ item.text() | e}}</pre>
	</td>
	<td style="vertical-align: top;">
	  <a href="{{ url_for('analysis.generate', doc=doc,  
		   items=items_state.del_selected(item),
		   open=items_state.open_names(), focus='prompt') }}">
	    <img src="{{ url_for('static', filename='close-icon.png') }}"></img>
	  </a>
	</td>
	<td style="vertical-align: top;">
	  <a href="{{ url_for('analysis.generate', doc=doc,  
		   items=items_state.move_selected(item, -1),
		   open=items_state.open_names(), focus=items_state.sel_id(item)) }}">
	    <img src="{{ url_for('static', filename='up-arrow.png') }}"></img>
	  </a>
	</td>	  
	<td style="vertical-align: top;">
	  <a href="{{ url_for('analysis.generate', doc=doc,  
		   items=items_state.move_selected(item, 1),
		   open=items_state.open_names(), focus=items_state.sel_id(item)) }}">
	    <img src="{{ url_for('static', filename='down-arrow.png') }}"></img>
	  </a>
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <p></p>
  Credits: <a href="https://www.flaticon.com/free-icons/down-arrow" title="down arrow icons">Down arrow icons created by Freepik - Flaticon</a>
  {% endblock %}
  {% block script %}
  function prompt_change() {
      var menu = document.getElementById('prompt_menu');
      var text = document.getElementById('prompt');
      var val = menu.options[menu.selectedIndex].value;
      text.value = val;
  }
  function submit() {
      var button = document.getElementById('go_button');
      button.disabled = true;
      button.value = "Running...";
  }
  var form = document.getElementById("form");
  form.onsubmit = submit
  var focus_item = "{{ items_state.focus_item }}"
  var element = document.getElementById(focus_item);
  if (element) { element.scrollIntoView({ block: "nearest"}); }
  {% endblock %}
