{% extends "base.html" %}

{%block head %}
{% if session.status.is_running() %}
<meta http-equiv="refresh" content="10;URL={{ url_for('analysis.genresult', doc=doc) }}">
{% endif %}
{% endblock %}

{% block body%}
  
  <h1>Process Results</h1>
  <p>
    This page shows the results for the current GTP process operation.
  </p>
  <hr>

  <h2>Process Status:</h2>
  <div style="border-width:1px;border-style:solid;border-color:grey;">
    <p>Prompt: {{ session.status.prompt }}</p>
    <p>State:
      <b>
      {% if session.status.is_running() %}
      Process Running....
      {% else %}
      Complete
      {% endif %}
      </b>
    </p>
    <p>Steps: {{ session.status.complete_steps }} completions run.
    </p>
    <p> {{ session.status.status_message }} </p>
  </div>

  <h2>Result:</h2>
  <div style="border-width:1px;border-style:solid;border-color:grey;">  
    {% if session.get_result_item() %}
    <a href="{{ url_for('analysis.segview', doc=doc, top=session.get_result_item().name(), item=session.get_result_item().name()) }}">    
      {{ session.get_result_item().name() }}:
    </a>
    [ {{ session.get_result_item().prompt_name(session) }} ]
    <pre style="line-height:1.5;background:{{ session.item_color(session.get_result_item()) }};white-space:pre-wrap;overflow-x:auto;padding:1em;margin:0;font-family:PT Mono;">{{ session.get_result_item().text() | e }}</pre>
    {% else %}
    <i>Not yet generated</i>    
    {% endif %}
  </div>
  
  <h2>Source Text:</h2>
  <div style="border-width:1px;border-style:solid;border-color:grey;">
    <table style="border-spacing:5px">            
      {% for item in session.get_gen_items() %}
      <tr id="{{ item.name() }}">
	<td style="vertical-align: top;" NOWRAP>
	  <a href="{{ url_for('analysis.segview', doc=doc, top=session.get_result_item().name(), item=item.name()) }}">
	    {{ item.name() }}
	    </a>
	</td>

	{% if session.status.in_additions(item.id()) %}
	<td style="vertical-align: top;"> ... </td>
	{% endif %}
	
	{% if item.is_doc_segment() %}
	<td style="background:{{ session.item_color(item) }};padding:2px;" colspan="2">
	  {{ session.snippet_text(item.text()) | e }}
	</td>
	{% else %}
	<td style="background:{{ session.item_color(item) }};padding:2px;"
	    {% if not session.status.in_additions(item.id()) %}	    
	    colspan="2"
	    {% endif %}
	    >
	  [
	  {{ item.prompt_name(session) }}
	  ]
	  <pre style="line-height:1.5;background:{{ session.item_color(item) }};white-space:pre-wrap;overflow-x:auto;padding:1em;margin:0;font-family:PT Mono;">{{ item.text() | e }}</pre>
	</td>
	{% endif %}
	
	<td style="vertical-align: top;">	  
	  ({{ item.token_count() }})
	</td>
      </tr>
      {% endfor %}
      
    </table>
  </div>
{% endblock %}
