{% extends "base.html" %}
{%block head %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block body%}
  
<h1>DocWorker</h1>
<i>A tool for applying GPT to documents.</i>
<h2>Get an Email link to access DocWorker:</h2>
{% if status is none %}
<form action="{{ url_for('analysis.login')}}"
      method="post" id="form">
  <label for="address">Email:</label>
  <input type="email" id="address" name="address"/>
  <input type="submit" value="Get Link"/>
</form>
<p>
We will send you an email with a link to access DocWorker.
</p>
{% else %}
<p>
  {{ status }}
</p>
{% endif %}

{% endblock %}

{% block script %}
{% endblock %}
      
