{% extends "base.html" %}
{#
Single pane application page.
ToDo:
- check for same name not equal files
#}
{%block head %}
{% if not session is none and session.status.is_running() %}
<meta http-equiv="refresh" content="5;URL={{ url_for('analysis.main', doc=doc, run_id=run_id) }}">
{% endif %}
{% endblock %}

{% block nav %}
{% endblock %}
{% block body%}
  
<div>
    <h1>DocWorker</h1>
    <i>A tool for applying GPT to documents.</i>
    <p>
      DocWorker uses OpenAI's GPT AI model to summarize
      and analyze DOCX (MS Word) documents.
      Use this page to load a DOCX file and run
      GPT functions over the document. Note that you can also open a previously
      uploaded file and see any previous GPT runs.
    </p>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}  

    <table>
      <tr>
	<td>
	  Load a document:
	</td>
	{% if session is none or not session.is_active_or_result(run_id) %}    	
	<td>
	  Select a prompt:
	</td>
	{% endif %}
      </tr>
      <tr>
	<td>
	  <div style="background:#d9e8f6;padding:5px;">
	    {% if doc is none %}
	    <p>
	      No file loaded.
	    </p>
	    {% else %}
	    <div>
	      <img class="center"
		   src="{{ url_for('static', filename='document.png') }}"
		   width="64" height="64">
		   </img>
	    </div>
	    <div style="text-align:center;">	      
	      <a  href="{{ url_for('analysis.docview', doc=doc) }}">
		{{ session.name }}
	      </a>
	    </div>
	    {% endif %}
	      
	    <hr>
	    <form action="{{ url_for('analysis.main')}}"
		  enctype="multipart/form-data" method="post" id="form">
	      <div>
		<input type="file" id="file" name="file" class="inputfile"/>
		<input type="submit" name="upload" id="upload" value="Upload"/>
	      </div>
	    </form>
	    <hr>
	    <div>
	      <a href="{{ url_for("analysis.doclist")}}">File list</a>
	    </div>
	    {% if not doc is none %}
	    <div>
	      <a href="{{ url_for('analysis.runlist', doc=doc) }}">
		Run history
	      </a>
	    </div>
	    {% if session.get_result_item(run_id) %}	    
	    <div>
	      <a href="{{ url_for('analysis.main', doc=doc) }}">
		New prompt
	      </a>
	    </div>
	    {% endif %}	    
	    {% endif %}
	  </div>
	</td>
	{% if session is none or not session.is_active_or_result(run_id) %} 
	<td style="vertical-align:top;">
	  <form action="{{ url_for('analysis.main')}}"
		method="post" id="form">
	    <select name="prompt_manu" id="prompt_menu"
		    style="vertical-align:top;" onchange="prompt_change()">
	      <option value=""></option>	
	      {% for prompt in prompts %}
	      <option value="{{ prompt[1] }}">{{ prompt[0] }}</option>
	      {% endfor %}
	    </select>
	    <textarea id="prompt" name="prompt" rows="3" cols="70"></textarea>
	    <input id="run" name="run" type="submit" value="Run Prompt"
		   style="vertical-align:top;"/>
	    <input type="hidden" id="doc" name="doc" value="{{ doc }}"/>     
	  </form>
	</td>
	{% endif %}
      </tr>
    </table>
    <p></p>
    {% if not session is none %}
    {% if session.is_active_or_result(run_id) %}    
    <div style="border-width:1px;border-style:solid;border-color:grey;padding:1em;">
      Prompt: {{ session.status.prompt }}
      <p>State:
	{% if session.status.is_running() %}
	Process Running....
	{% else %}
	Complete
	{% endif %}
      </p>
      <p>Steps: {{ session.status.complete_steps }} completions run.	
      </p>
      {{ session.status.status_message }}
    </div>
    {% endif %}
    {% endif %}    

    {% if not session is none %}
    {% if session.get_result_item(run_id) %}        
    <h2>Result:</h2>
    <table style="width:100%">
      <tr>
	<td>
    <div style="border-width:1px;border-style:solid;border-color:grey;">
      <pre id="result" style="line-height:1.5;background:{{ session.item_color(session.get_result_item(run_id)) }};white-space:pre-wrap;overflow-x:auto;padding:1em;margin:0;font-family:PT Mono;">{{ session.get_result_item(run_id).text() | e }}</pre>
    </div>
	</td>
	<td style="vertical-align:top;">
	  <div>
	    <button onclick="copyResults()">Copy Text</button>
	  </div>
	  <div>
	    <form action="{{ url_for('analysis.export')}}" method="post">
	      <input type="submit" value="Download"/>
	      <input type="hidden" id="doc" name="doc" value="{{ doc }}"/>
	      <input type="hidden" id="items" name="items"
		     value="{{ session.get_result_item(run_id).name() }}">
	    </form>
	  </div>
	  <div>
	    <form action="{{ url_for('analysis.segview')}}" method="get">
	      <input type="submit" value="Details"/>
	      <input type="hidden" id="doc" name="doc" value="{{ doc }}"/>
	      <input type="hidden" id="item" name="item"
		     value="{{ session.get_result_item(run_id).name() }}">
	      <input type="hidden" id="top" name="top"
		     value="{{ session.get_result_item(run_id).name() }}">
	    </form>
	  </div>
	</td>
      </tr>
    </table>
    {% endif %}
    {% endif %}        
    <a href="https://www.flaticon.com/free-icons/paper" title="paper icons" target="_blank" rel="noopener noreferrer">Paper icons created by smalllikeart - Flaticon</a>
    {% endblock %}
    
    {% block script %}
    function submit() {
      var button = document.getElementById('upload');
      button.value = "Loading...";
    }

    function prompt_change() {
      var menu = document.getElementById('prompt_menu');
      var text = document.getElementById('prompt');
      var val = menu.options[menu.selectedIndex].value;
      text.value = val;
    }
    var form = document.getElementById("form");
    form.onsubmit = submit

    function copyResults() {
      var copyText = document.getElementById("result");
      navigator.clipboard.writeText(copyText.innerText);
    }
{% endblock %}
      
