{% extends "base.html" %}

{% block backlink %}
<a href="{{ url_for('analysis.main', doc=doc) }}">Main View</a>
{% endblock %}
{% block body%}
  
<h1>DocWorker</h1>
<i>A tool for applying GPT to documents.</i>

<h2>Run History:</h2>
<div style="border-witdh:1px;border-style:solid;border-color:black;"> 
  <ul>
    {% for run_record in session.run_list %}
    <li>
      <a href="{{ url_for('analysis.main', doc=doc, run_id=run_record.run_id) }}">
	{{ session.run_date_time(run_record) }}
      </a>
	: {{ session.run_record_prompt(run_record) }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}


  
      
