{% extends "base.html" %}
{% block body%}
  <h1>Select Text Items</h1>
  <p>
    This page lists all of the document text items and all of the
    GPT generated text items, including intermediate results for
    multi-step GTP processes.
  </p>
  <p>
    {{ action }}
  </p>
  <hr>
  <form action="{{ url_for(page) }}" method="post">
    <input type="hidden" id="doc" name="doc" value="{{ doc }}"/>
    <p style="text-align:center;">
      <input name="donebutton" type="submit" value="Select"/>
      <input name="cancelbutton" type="submit" value="Cancel"/>      
    </p>

    {% for item in items_state.selected_names() %}
    <input name="items" type="hidden" value="{{ item }}"/>    
    {% endfor %}
    
    <div>
      {% if item_list is none %}
      <p>Hello: {{ item_id }}</p>
      <table style="border-spacing:5px">                  
	<tr>
	  <th/>
	  <th>Label</th>
	  <th>Content</th>
	</tr>
	{% for item in session.get_ordered_items() %}
	{% if item.is_doc_segment() or item.is_final_result() %}
	<tr>
	  <td>
	    <input id="{{ item.name() }}" type="checkbox" name="items" value="{{ item.name() }}"/>
	  </td>
	  <td NOWRAP>
	    {% if not item.is_doc_segment() %}
	    <a href="{{ url_for(page, doc=doc, item=item.id(), items=items_state.selected_names()) }}">
	      {{ item.name() }}
	    </a>
	    {% else %}
	    {{ item.name() }}
	    {% endif %}
	</td>
	  <td style="background:{{ session.item_color(item) }};padding:2px;", colspan=2>
	    {% if not item.is_doc_segment() %}
	    <div>[ {{ item.prompt_name(session) }} ]</div>
	    {% endif %}
	  {{ session.snippet_text(item.text()) | e }}
	  </td>
	</tr>
	{% endif %}
	{% endfor %}
      </table>

      {% else %}

      <table style="border-spacing:5px">                  
	<tr>
	  <th/>
	  <th>Label</th>
	  <th colspan="{{ depth }}">Content</th>
	</tr>
	{% for (indent, item) in item_list %}
	{% if not item.is_doc_segment() %}
	<tr id="{{ item.name() }}">
	  <td>
	    <input id="{{ item.name() }}" type="checkbox" name="items" value="{{ item.name() }}"/>
	  </td>
	  <td NOWRAP>
	  {{ item.name() }}
	  </td>

	  {% for i in range(1, indent)  %}
	  <td>
	    ....
	  </td>
	  {% endfor %}
	  
	  <td style="background:{{ session.item_color(item) }};padding:2px;"
	      colspan="{{ depth - indent + 1 }}">
	    <div>[ {{ item.prompt_name(session) }} ]</div>	    
	    {{ session.snippet_text(item.text()) | e }}
	</td>
	</tr>
	{% endif %} 
	{% endfor %}
      </table>
      {% endif %}
    </div>
  </form>
{% endblock %}
